///////////////////////////////////////////////////////////////////////////////
//
// Footer file.
//
// Styles applied to the footer.
//
///////////////////////////////////////////////////////////////////////////////

// Capitalize the links in the footer to allow only the first letter to be uppercase.
html #section-footer {
  #region-postscript-first,
  #region-postscript-second,
  #region-postscript-third {
    // Make the heading title of the footer blocks to be uppercase.
    h2.block-title {
      display: none;
    }

    ul.menu > li.first.expanded {
      margin: $small-margin 0;

      // The parent / expandable link.
      > a {
        @include capitalize-text(uppercase);
        font-size: $font-standard-size;
        font-weight: bold;
      }

      // The sub menus under the expandable links.
      ul.menu {
        margin-top: 10px;
      }
    }
  }

  #zone-footer {
    text-align: center;

    .panel-pane {
      display: inline-block;
      text-align: center;
    }

    .pane-custom {
      @include capitalize-text(capitalize);

      p::before {
        content: "\00a0";
      }
    }

    // Add extra content for the issn in the footer.
    #footer-issn .snippet-content {
      margin: 8px 0;

      &::before {
        content: "Online ISSN ";
      }

      &::after {
        content: " | ";
      }
    }

    // Hide separator so panes can display next to each other.
    .panel-separator {
      display: none;
    }
  }
}
