﻿/**************************************************************************************************
* 	Responsive CSS - contains all media queries and responsive styling
**************************************************************************************************/
@media only screen and (min-width: 751px) and (max-width: 1250px) {
    #signUpEmail {
        clear: both;
    }
    .signUpForm {
        float: left;
        padding: 0 0 0 25px;
    }
    .shareLinks span {
        display: block;
    }
}
@media only screen and (min-width: 1151px) {
    .homeFlipOverlay .sectionLink {
        font-size: 1.8em;
    }
}
@media only screen and (min-width: 691px) and (max-width: 1150px) {
    .spotlight .imageOverlay {
        box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.17);
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        width: 100%;
    }
}
@media only screen and (max-width: 1150px) {
    .homeFlipOverlay h3 {
        font-size: 1.8em;
    }
    .pastFellowSearch .textbox {
        width: 290px;
    }
}
@media only screen and (max-width: 1000px) {
    .threeCol .twoCol > .col {
        width: 100%;
    }
}
@media only screen and (min-width: 641px) and (max-width: 968px) {
    .homeFlipOverlay .contentOverlay {
        background: #333132;
    }
    .homeFlipOverlay .tagline {
        display: none;
    }
}
@media only screen and (min-width: 451px) and (max-width: 950px) {
    .profileDetails {
        float: left;
        padding-right: 25px;
        width: 40%;
    }
    .profileContact {
        float: left;
        width: 60%;
    }
}
@media only screen and (max-width: 950px) {
    .compactLink {
        display: block;
    }
    #mainNav,
    .additionalLink {
        display: none;
    }
    .activeTopLink {
        padding: 22px 12px 40px 2px;
    }
    #showSearch span {
        position: absolute;
	    top: -9999em;
	    left: -9999em;
    }
    .twoThirdWidth,
    .oneThirdWidth,
    .oneQuarterWidth,
    .threeQuarterWidth {
        padding: 0;
        width: 100%;
    }
    .oneQuarterWidth {
        margin: 0 0 22px 0;
    }
    .fourCol .col {
        width: 50%;
    }
    .twoCol .splitCol {
        width: 100%;
    }
    .eightCol .col {
        width: 25%;
    }
    .fourCol > .col:nth-child(2n+1),
    .eightCol > .col:nth-child(4n+1) {
        clear: both;
    }
    .rolodexOverlay {
        top: 22px;
        right: 25px;
        bottom: 22px;
        left: 455px;
        width: auto;
    }
    .pastFellowSearch {
        margin: 0;
        width: 100%;
    }
    .oneThirdWidth .illustration,
    .oneThirdWidth .pullQuote {
        float: left;
    }
    .oneThirdWidth .illustration {
        padding: 0 25px 22px 0;
        max-width: 38.7096774194%;
    }
    .oneThirdWidth .pullQuote {
        padding: 0 0 22px 0;
        max-width: 61.2903225806%;
    }
}
@media only screen  and (max-width: 850px) {
    #signUpEmail {
        width: 200px;
    }
    .rolodexControls {
        width: 380px;
    }
    .rolodexControls ul {
        width: 300px;
    }
    .rolodexOverlay {
        left: 405px;
    }
    .rolodexOverlay h3 {
        font-size: 2.2em;
    }
    .sixCol > .col {
        width: 25%;
    }
    .sixCol > .col:nth-child(6n+1) {
        clear: none;
    }
    .sixCol > .col:nth-child(4n+1) {
        clear: both;
    }
    .moreLinks {
        clear: both;
    }
    .moreLinks li {
        clear: both;
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
    }
}
@media only screen and (max-width: 785px) {
    .rolodexControls {
        width: 355px;
    }
    .rolodexControls ul {
        width: 275px;
    }
    .rolodexOverlay {
        left: 380px;
    }
}
@media only screen and (max-width: 760px) {
    .rolodex {
        height: auto;
    }
    .rolodexControls,
    .rolodexContent img {
        display: none;
    }
    .rolodexControls,
    .rolodexControls ul,
    .rolodexOverlay,
    .rolodexContent {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        width: 100%;
    }
    .rolodexOverlay {
        padding: 0;
    }
    .rolodexSelect {
        display: block;
        margin: 0 0 22px 0;
        width: 100%;
    }
    .threeCol .col {
        width: 50%;
    }
    .threeCol > .col:nth-child(3n+1) {
        clear: none;
    }
    .threeCol > .col:nth-child(2n+1) {
        clear: both;
    }
    .breakFirstCol > .col:first-child {
        width: 100%;
    }
    .breakFirstCol > .col:nth-child(2n+1) {
        clear: none;
    }
    .breakFirstCol > .col:nth-child(2n+2) {
        clear: both;
    }
}
@media only screen and (max-width: 750px) {
    .shareLinks {
        border-right: 0;
        border-bottom: 1px solid #d6d2c4;
        margin: 0 0 30px 0;
        padding: 0 0 22px 0;
        width: 100%;
    }
    .signUpForm {
        clear: both;
        padding: 0;
        width: 100%;
    }
    .mediaImg {
        width: 30%;
    }
}
@media only screen and (min-width: 731px) {
    .expandFilters.active:after {
        content: '';
        background: #6f263d;
        position: absolute;
        bottom: -22px;
        left: 50%;
        margin: 0 0 0 -2px;
        width: 4px;
        height: 22px;
    }
    .searchOptions {
        border-top: 4px solid #6f263d;
        padding: 22px 0 0 0;
    }
}
@media only screen and (max-width: 730px) {
    .hideOnSmall {
        display: none;
    }
    .searchOptions .styledSelect {
        display: block;
        width: 100%;
    }
    .searchOptions .mediumLabel {
        float: none;
        clear: both;
        display: block;
        margin: 0 0 22px 0;
        padding: 0;
    }
    .searchOptions .dateSeparator {
        float: left;
        clear: none;
        display: inline;
        margin: 5px 25px 22px 0;
    }
    .searchOptions .keyword,
    .searchOptions .keyword .textbox,
    .searchOptions .expandFilters {
        width: 100%;
    }
}
@media only screen and (min-width: 691px) {
    .largeTabs .tabs a {
        min-width: 300px;
    }
    .featureImage img {
        max-width: none;
    }
}
@media only screen and (max-width: 690px) {
    .darkContainer {
        background: #333132;
        margin: 0 -25px 22px -25px;
        padding: 22px 25px 0 25px;
    }
    .darkContainer.plushBottom {
        margin-bottom: -22px;
    }
    .darkContainer h2 {
        color: #fff;
    }
    .slideableControlsWrapper {
        position: relative;
    }
    .slideableWrapper {
        margin: -22px auto 0 auto;
        height: 374px;
    }
    .slideable .flipContainer {
        height: 330px;
        width: 240px;
    }
    .fellowCard .front .flipContent {
        padding: 5px 8px;
    }
    .flipHighlight {
        line-height: 33px;
    }
    .slideableControls {
        position: absolute;
        top: 150px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .slideableControls .prevItem {
        margin: 0 130px 0 0;
        color: #fff;
    }
    .slideableControls .nextItem {
        margin: 0 0 0 130px;
        color: #fff;
    }
    .featureImage .imageOverlay {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        width: 100%;
    }
    .twoColWide .spotlight {
        width: 100%;
    }
}
@media only screen and (min-width: 641px) and (max-width: 900px) {
    .homeContentBox .halfWidth {
        width: 100%;
    }
    .homeContentBox .rightGutter {
        padding: 0 0 22px 0;
    }
    .homeNarrowCol {
        padding: 0 0 25px 0;
    }
}
@media only screen and (max-width: 640px) {
    .contentBox {
        padding: 22px 20px;
    }
    .tabContent .contentBox {
        padding: 44px 20px 0 20px;
    }
    .wrapper {
        padding: 0;
    }
    .headerContainer {
        padding: 22px 20px;
    }
    .twoColWide .col {
        width: 100%;
    }
    .homeCard {
        padding: 0 20px;
    }
    .darkContainer {
        margin: 0 -20px 22px -20px;
        padding: 22px 20px 0 20px;
    }
    .backBtn {
        float: left;
        margin: 0 0 22px 0;
    }
    .backBtn + h1 {
        clear: both;
    }
    .youtube .supporting-text {
        clear: both;
        width: 100%;
        position: static;
        margin-bottom: 44px;
    }
    .youtube .youtubeVideo {
        padding: 0px;
    }
}
@media only screen and (max-width: 600px) {
    .additionalSearchInfo {
        display: none;
    }
    .moreResults p {
        width: 100%;
    }
}
@media only screen and (min-width: 581px) {
    .statement .link {
        margin: 0 100px 0 0;
    }
    .statement .link:hover {
        border-bottom: 1px solid #c7bfbd;
    }
    .statement .link:after {
        content: '';
        background: #ba0c2f;
        position: absolute;
        bottom: 33px;
        margin: 0 0 0 10px;
        height: 6px;
        width: 6px;
        -moz-transition: height 0.2s linear;
        -o-transition: height 0.2s linear;
        -webkit-transition: height 0.2s linear;
        transition: height 0.2s linear;
    }
    .statement .link:hover:after {
        height: 0;
    }
    .statement .more {
        background: #fff;
        position: absolute;
        bottom: 30px;
        margin: 0 0 0 -90px;
        -moz-transition: height 0.2s 0.2s linear;
        -o-transition: height 0.2s 0.2s linear;
        -webkit-transition: height 0.2s 0.2s linear;
        transition: height 0.2s 0.2s linear;
    }
    .statement .link:hover + .more {
        height: 18px;
    }
}
@media only screen and (max-width: 580px) {
    .headerLogo {
        background: url(../../images/Redesign2015/logo-vertical.png) no-repeat left top;
        height: 66px;
        width: 127px;
    }
    .statement {
        margin: 0 0 22px 0;
        font-size: 2.2em;
        line-height: 1.5;
    }
    .statement .more {
        display: block;
        height: auto;
        font-size: 18px;
        text-decoration: underline;
    }
    .homeContentBox .halfWidth {
        width: 100%;
    }
    .homeContentBox .rightGutter {
        padding: 0 0 22px 0;
    }
    .homeNarrowCol {
        padding: 0 0 25px 0;
    }
    #signUpEmail {
        clear: both;
    }
    .signUpForm {
        float: left;
    }
    .shareLinks {
        margin: 0 0 22px 0;
    }
    .shareLinks span {
        display: block;
    }
    .sixCol > .col {
        width: 50%;
    }
    .sixCol > .col:nth-child(2n+1) {
        clear: both;
    }
}
@media only screen and (max-width: 550px) {
    .spotlight .imageOverlay {
        box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.17);
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        width: 100%;
    }
    .pastFellowSearch .textbox {
        width: 100%;
    }
    .pastFellowSearch .btn {
        margin: 22px 0 0 0;
        width: 100%;
    }
}
@media only screen and (max-width: 520px) {
    .siteSearch {
        width: 100%;
    }
    #siteSearch {
        width: 100%;
    }
    .twoCol .col,
    .threeCol .col,
    .fourCol .col {
        width: 100%;
    }
    .threeCol .twoCol > .col {
        width: 50%;
    }
}
@media only screen and (max-width: 500px) {
    .homeFlipOverlay .contentOverlay {
        background: #333132;
        text-align: left;
    }
    .homeFlipOverlay .sectionLink {
        right: auto;
        left: 120px;
        margin: 10px 0;
    }
    .homeFlipOverlay .tagline {
        display: none;
    }
    .eightCol .col {
        width: 50%;
    }
    .eightCol > .col:nth-child(2n+1) {
        clear: both;
    }
    .awardsList .mediaImg {
        width: 100%;
    }
    .awardsList .media {
        padding: 0;
        width: 100%;
    }
    .colouredTable tr {
        display: block;
        margin: 0 0 22px 0;
    }
    .colouredTable th {
        display: none;
    }
    .colouredTable td {
        border-bottom: 3px solid #fff;
        display: block;
        position: relative;
        padding-left: 40%;
        width: 100%;
    }
    .colouredTable td:before {
        content: attr(data-th);
        background: #6f263d;
        border-right: 3px solid #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 11px;
        width: 28%;
        color: #fff;
        text-align: left;
    }
    .illustration,
    .pullQuote,
    .oneThirdWidth .illustration,
    .oneThirdWidth .pullQuote,
    .eventOverview .illustration {
        padding: 0 0 22px 0;
        max-width: none;
    }
}
@media only screen and (max-width: 480px) {
    .fellowCard + .fellowText {
        margin: 22px 0 0 0;
    }
    .quote {
        padding: 22px 10px;
    }
    .quote p:before {
        top: -22px;
        left: -10px;
        font-size: 20px;
    }
    .quote footer:before {
        right: -10px;
        bottom: -22px;
        font-size: 20px;
    }
    .styledSelect {
        width: 270px;
    }
}
@media only screen and (max-width: 420px) {
    .globalFooter .break {
        display: block;
    }
    .clearTable td {
        padding: 5px;
    }
}
@media only screen and (max-width: 390px) {
    .searchOptions .filterNarrow {
        margin: 0 20px 22px 0;
        padding: 0 10px;
        width: 120px;
    }
    .searchOptions .dateSeparator {
        margin: 5px 0 22px -12px;
    }
}
@media only screen and (max-width: 350px) {
    .signUpForm label {
        margin: 0 0 10px 0;
    }
    #signUpEmail {
        border-radius: 5px;
        margin: 0 0 22px 0;
        width: 100%;
    }
    .signUpForm .btn {
        border-radius: 5px;
        width: 100%;
    }
    .threeCol .twoCol > .col {
        width: 100%;
    }
    .darkContainer {
        padding: 22px 10px 0 10px;
    }
    .darkContainer h2 {
        padding: 0 10px;
    }
}
@media only screen and (max-width: 340px) {
    .connectLinks a {
        margin: 0 0 0 2px;
    }
}